<a href="/admin">Admin</a>
<a href="/">View your Profile</a>
<a href="/auth/logout" style="color: red">Log out</a>
<br>
<h1>Admin page
</h1>
<a href="/admin/links">My Links</a>
<a href="/settings">User Settings</a>
<a href="/admin/appearance">Appearance</a>
<a href="/admin/analytics">Analytics</a>
<br><br>
<h1>Links</h1>
<h2>Adding Link</h2>
<form action="/admin/addlink" method="POST">

   <label for="linkUrl">URL</label>
   <input type="text" id="linkUrl" name="linkUrl" , placeholder="Paste URL">

   <label for="thumbnailUrl">image</label>
   <input type="text" id="thumbnailUrl" name="thumbnailUrl">

   <label for="linkTitle">Title</label>
   <input type="text" id="linkTitle" name="linkTitle">

   <label for="linkDescription">Description</label>
   <input type="text" id="linkDescription" name="linkDescription">

   <label for="contentFrom">From</label>
   <input type="patextssword" id="contentFrom" name="contentFrom">


   <button type="submit">Add Link</button>
</form>

<h2>Profile User Links</h2>
<ul class="admin-links">
   {{#each user.links}}


   <li class="admin-link" id={{this._id}} draggable="true">
      <div>{{this.linkTitle}}
         <a href="#">Update Link</a>
         <a href="/admin/links/{{this._id}}/delete">Remove Link</a>
      </div>
   </li>


   {{/each}}
</ul>

<h2>User Collections</h2>

<div class="user-collections">

   {{#each user.groups}}
   <div id="{{this._id}}" class="collection drop-zone">
      {{this.groupName}}
      <p class="collection-admin-text">delete</p>
   </div>

   {{/each}}

   <a href="/admin/collections">
      <div id="add-new-collection" class="collection"> Add new collection ></div>
   </a>

</div>