<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="homeNav">

   <h1>🔗</h1>
   <ul>
      <li><a href="/support/faqs">Help?</a></li>
      <a href="/settings/profile">Settings</a>
      <a href="/auth/logout">Log out</a>
   </ul>


</div>

<nav class="adminNav">
   <a href="/{{user.user.username}}">View your Profile</a>
   {{!-- <a href="/admin/links" class="menuNavBold">My Links</a>
   <a href="/settings">Settings</a>
   <a href="/appearance">Appearance</a> --}}
   {{!-- <a href="/admin/analytics">Analytics</a> --}}
</nav>
<div class="appearancePage">
   <div class="linksBg">
      <div class="linksPage">

         {{!-- <h2>MY LINKS</h2>
         <div class="addLinkButton">
            <h2>Add link ➕</h2>
         </div> --}}

         <h2>- add link - </h2>

         {{title.title}}
         <form action="/admin/addlink" method="POST">
            <div class="linkForm">
               {{!-- <label for="linkUrl">...url</label> --}}

               <input type="text" id="linkUrl" name="linkUrl" placeholder="..url">

               {{!-- <label for="linkTitle"></label> --}}
               <input type="text" id="linkTitle" name="linkTitle" placeholder="..title">

               <div class="img-and-from">
                  <div id="link-img" class="admin-link-img">
                  </div>

                  <input type="text" id="contentFrom" name="contentFrom" placeholder="..from">

               </div>

               {{!-- <label for="linkDescription"></label> --}}
               <textarea type="" id="linkDescription" name="linkDescription" placeholder="..description"></textarea>

               {{!-- <label for="contentFrom"></label> --}}


               {{!-- <label for="thumbnailUrl"></label> --}}
               <input class="linkImg" style="display:none" type="text" id="thumbnailUrl" name="thumbnailUrl">

            </div>


            <button class="add-link-button" type="submit">add link</button>

         </form>



         <h2>- my links -</h2>

         <ul class="admin-links">
            {{#each user.links}}
            {{#if this.status}}
            <li id={{this._id}} class="admin-link" draggable="true">
               <div class="admin-link-name">
                  <div class="admin-link-img-uploaded">
                     <img src="{{this.thumbnailUrl}}" alt="">
                  </div>
                  {{this.linkTitle}}
               </div>
               <div class="admin-link-updates">
                  <a href="#">update</a>
                  <a href="/admin/links/{{this._id}}/delete">del</a>
               </div>
            </li>
            {{/if}}
            {{else}}
            <h2>...</h2>
            {{/each}}
         </ul>

         {{!-- <div class="addCollectionButton">
         <h2>User collections</h2>
         </div> --}}


         <h2>- my collections -</h2>
         <div class="user-collections">

            {{#each user.groups}}
            <a href="/admin/open-collection/{{this._id}}">
               <div id="{{this._id}}" class="collection drop-zone">
                  {{this.groupName}}
               </div>
            </a>
            {{else}}
            <h2>...</h2>
            {{/each}}
         </div>

         <form action="/admin/addcollection" method="POST">
            <div class="linkForm">

               <label for="collectionName"></label>
               <input type="text" id="collectionName" name="collectionName" , placeholder="..new collection">
               {{!-- 
               <label for="collectionImage">image</label>
               <input type="text" id="collectionImage" name="collectionImage"> --}}
            </div>

            <button class="add-link-button" type="submit">add collection</button>
         </form>

      </div>



   </div>
</div>

</div>

<script src="/javascripts/metascraper.js"></script>
<script src="/javascripts/script.js"></script>