<div class="adminPage">
   <div class="homeNav">

      <h1>linkmee</h1>
      <ul>
         {{!-- <li><a href="support/faqs">Help</a></li> --}}
         <a href="/">Profile</a>
         <a href="/auth/logout">Log out</a>
      </ul>


   </div>
   <nav class="adminNav">
      <a href="/admin/links" class="menuNavBold">My Links</a>
      <a href="/settings">User Settings</a>
      <a href="/appearance">Appearance</a>
      <a href="/admin/analytics">Analytics</a>
   </nav>
   <div class="linksPage">
      <div class="addLinkButton">
         <h2>Add link ➕</h2>
      </div>


      <div class="addinLinkTab">


         <h2>Adding Link</h2>

         <div class="linkForm">
            <form action="/admin/addlink" method="POST">

               <label for="linkUrl">URL</label>
               <input type="text" id="linkUrl" name="linkUrl" , placeholder="Paste URL">

               <label for="thumbnailUrl">image</label>
               <input type="text" id="thumbnailUrl" name="thumbnailUrl">

               <label for="linkTitle">Title</label>
               <input type="text" id="linkTitle" name="linkTitle">

               <label for="linkDescription">Description</label>
               <input type="text" id="linkDescription" name="linkDescription">

               <label for="contentFrom">From</label>
               <input type="patextssword" id="contentFrom" name="contentFrom">


               <button type="submit">Add Link</button>
            </form>
         </div>
      </div>
   </div>




   <ul class="admin-links">
      {{#each user.links}}

      <div class="admin-link">
         <li id={{this._id}} draggable="true">
            <div>
               {{this.linkTitle}}


            </div>
            <a href="#">Update Link</a>
            <a href="/admin/links/{{this._id}}/delete">Remove Link</a>
         </li>
      </div>



      {{/each}}
   </ul>

   <div class="linksPage">
      <div class="addCollectionButton">
         <h2>Add collection</h2>
      </div>



      {<div class="user-collections">

         {{#each user.groups}}
         <div id="{{this._id}}" class="collection drop-zone">
            {{this.groupName}}
            <p class="collection-admin-text">delete</p>
         </div>

         {{/each}}

         <a href="/admin/collections">
            <div id="add-new-collection" class="collection"> Add new collection ></div>
         </a>

      </div>
   </div>