<div class="homeNav">

    <h1>🔗</h1>
    <ul>
        <li><a href="/support/faqs">Help?</a></li>
        <a href="/admin/links">Admin</a>
        <a href="/auth/logout">Log out</a>
    </ul>


</div>
<nav class="adminNav">
    <a href="/settings/profile" class="menuNavBold">Edit Profile</a>
    <a href=" /settings/password">Change Password</a>
    <a href="/appearance">Appearance</a>
</nav>




<div class="editProfile">
    <h1>Edit your profile</h1>
    <form class="test2" action="/settings/upload" method="POST">

        <label for="username"></label>
        <input type="text" id="username" name="username" value="{{foundUser.username}}"
            placeholder="{{foundUser.username}}">

        <label for="email"></label>
        <input type="text" id="email" name="email" value="{{foundUser.email}}" placeholder=" {{foundUser.email}}">


        <label for="bio"></label>
        <input type="text" id="bio" name="bio" value="{{foundUser.bio}}" placeholder=" {{foundUser.bio}}">


        <div class="test1"></div>
        <br><br>
        <button type="submit">Save</button>
</div>
</form>
<br>
</div>




{{#if errorMessage}}
{{errorMessage}}
{{/if}}

<footer class="footer">
    <h3>Company</h3>
    <ul>
        <li><a href="info/about">About</a></li>
        <li><a href="/">Press</a></li>
        <li><a href="info/contact">Contact</a></li>
        <li><a href="/">Linkme for business</a></li>
        <li><a href="/">Linkme for charity</a></li>
    </ul>
    <h3>Support</h3>
    <ul>
        <li><a href="support/faqs">FAQs</a></li>
        <li><a href="support/howto">How to?</a></li>
        <li><a href="/">Getting Started?</a></li>
        <li><a href="/">Help</a></li>
        <li><a href="/">Report Violation</a></li>
    </ul>
    <h3>Legal</h3>
    <ul>
        <li><a href="/">Terms and conditions</a></li>
        <li><a href="/">Privacy Policy</a></li>
    </ul>

</footer>