<a href="/admin">Admin</a>
<a href="/">View your Profile</a>
<a href="/auth/logout" style="color: red">Log out</a>
<br><br>


<h1>Edit your profile</h1>



<form action="/settings/upload" method="POST">

    <h3>Username</h3>

    <label for="username"></label>
    <input type="text" id="username" name="username" value="{{foundUser.username}}"
        placeholder="{{foundUser.username}}">

    <h3>Email</h3>

    <label for="email"></label>
    <input type="text" id="email" name="email" value="{{foundUser.email}}" placeholder=" {{foundUser.email}}">


    <h3>Bio</h3>

    <label for="bio"></label>
    <input type="text" id="bio" name="bio" value="{{foundUser.bio}}" placeholder=" {{foundUser.bio}}">

    <br><br>
    <button type="submit">Save Changes</button>

</form>
<br>
<a href="/">Cancel</a>


{{#if errorMessage}}
{{errorMessage}}
{{/if}}