<div class="homeNav">

    <h1>Linkmee</h1>
    <ul>
        <li><a href="support/faqs">Help</a></li>
        <a href="/">View your Profile</a>
        <a href="/auth/logout">Log out</a>
    </ul>


</div>

<nav class="adminNav">
    <a href="/admin/links">My Links</a>
    <a href="/settings">User Settings</a>
    <a href="/appearance">Appearance</a>
    <a href="/admin/analytics" class="menuNavBold">Analytics</a>
</nav>


<h1>Edit your profile</h1>



<form action="/settings/upload" method="POST">

    <h3>Username</h3>

    <label for="username"></label>
    <input type="text" id="username" name="username" value="{{foundUser.username}}"
        placeholder="{{foundUser.username}}">

    <h3>Email</h3>

    <label for="email"></label>
    <input type="text" id="email" name="email" value="{{foundUser.email}}" placeholder=" {{foundUser.email}}">


    <h3>Bio</h3>

    <label for="bio"></label>
    <input type="text" id="bio" name="bio" value="{{foundUser.bio}}" placeholder=" {{foundUser.bio}}">

    <br><br>
    <button type="submit">Save Changes</button>

</form>
<br>
<a href="/">Cancel</a>


{{#if errorMessage}}
{{errorMessage}}
{{/if}}